__pycache__/
.vscode/
sqlite3.exe
data/scout.csv
data/superScout.csv
env/
__pycache__/main.cpython-311.pyc
tbapyAPI.txt
googlesheets.json
robotics-scouting-414004-d07cb2963d15.json
scout.db
scout_1.db
scoutFortWorth.db
superScout.csv
superScout2.csv
RobotInfo.db
PitScouting_GoogleSheetsKey.json