<html>
{% extends "superScout.html" %}

{% block form %}
<link rel="stylesheet" href="static/style3.css">

<table style="margin-left:1%; margin-top:5%;">
    <thead>
        <tr>
            <th style="font-size: 20px;" class="a color-fade" colspan="3">
                <center>Robot Info</center>
            </th>
        </tr>
        <tr>
            <th style="font-size: 25px; width:3%;"><span class="alliance-color">Robot</span> 1 <span id="robot1-num"></span></th>
            <th style="font-size: 25px;width:3%;"><span class="alliance-color">Robot</span> 2 <span id="robot2-num"></span></th>
            <th style="font-size: 25px;width:3%;"><span class="alliance-color">Robot</span> 3 <span id="robot3-num"></span></th>
        </tr>
    </thead>
    <tr>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
    </tr>
    <tr>
        <td>{{ form.robot1.info }}</td>
        <td>{{ form.robot2.info }}</td>
        <td>{{ form.robot3.info }}</td>
    </tr>
</table>

{% endblock %}

</html>
<style>
</style>