<html>
{% extends "superScout.html" %}

{% block form %}
<link rel="stylesheet" href="static/style3.css">

<table class="tbl" style="margin: 1%;">
    <thead>
        <tr>
            <th style="font-size: 20px;" class="a color-fade" colspan="3">
                <center>Robot Info</center>
            </th>
        </tr>
        <tr>
            <th style="font-size: 25px; width:3%;"><span class="alliance-color">Robot</span> 1 {{ form.robot1Num(class="inp wide") }}</th>
            <th style="font-size: 25px;width:3%;"><span class="alliance-color">Robot</span> 2 {{ form.robot2Num(class="inp wide") }}</th>
            <th style="font-size: 25px;width:3%;"><span class="alliance-color">Robot</span> 3 {{ form.robot3Num(class="inp wide") }}</th>
        </tr>
    </thead>
    <tr>
        <td>{{ form.robot1Info }}</td>
        <td>{{ form.robot2Info }}</td>
        <td>{{ form.robot3Info }}</td>
    </tr>
</table>

{% endblock %}

</html>
<style>
</style>