{% extends "scout.html" %}
{% block form %}

<div class="horizontalBlock">
    <!-- Autonomous Section -->
    <table class="tbl">
        <thead>
            <tr>
                <th style="font-size: 20px;" class="a  color-fade" colspan="3">AUTO</th>
            </tr>
        </thead>
        <tbody>
            <tr id="mobilityTr">
                <td></td>
                <th>Mobility</th>
                <td>
                    {{ form.autoMobility(class="inp check") }}
                </td>
            </tr>
            <tr>
                <th>Coral</th>
                <th>L4</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoL4(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>L3</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoL3(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>L2</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoL2(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>L1</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoL1(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Algae</th>
                <th>Removed</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoAlgaeRemoved(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>Processor</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoProcessor(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>Net</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.autoNet(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Teleop Section -->
    <table class="tbl">
        <thead>
            <tr>
                <th style="font-size: 20px;" class="a  color-fade" colspan="4">TELEOP</th>
            </tr>
        </thead>
        <tbody>
            <tr id="defenseTr">
                <th colspan="2">Played Defense</th>
                <td>
                    {{ form.defense(class="inp") }}
                    
                </td>
            </tr>
            <tr>
                <th colspan="2">Who was defended?</th>
                <td>
                    {{ form.defenseExperienced(class="inp wide")}}
                </td>
            </tr>
            <tr>
                <th>Coral</th>
                <th>L4</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton" id="coralL4Dec">-</button>
                        {{ form.teleopL4(class="inp") }}
                        <button type="button" class="addButton" id="coralL4Inc">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>L3</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton" id="coralL3Dec">-</button>
                        {{ form.teleopL3(class="inp") }}
                        <button type="button" class="addButton" id="coralL3Inc">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>L2</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton" id="coralL2Dec">-</button>
                        {{ form.teleopL2(class="inp") }}
                        <button type="button" class="addButton" id="coralL2Inc">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>L1</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton" id="coralL1Dec">-</button>
                        {{ form.teleopL1(class="inp") }}
                        <button type="button" class="addButton" id="coralL1Inc">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Algae</th>
                <th>Removed</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.teleopAlgaeRemoved(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>Processor</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.teleopProcessor(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>Net</th>
                <td>
                    <div class="addsubInput">
                        <button type="button" class="subtractButton">-</button>
                        {{ form.teleopNet(class="inp") }}
                        <button type="button" class="addButton">+</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="tbl-container inline-block">
        <!-- Endgame Section -->
        <table class="tbl">
            <thead>
                <tr>
                    <th style="font-size: 20px;" class="a color-fade" colspan="2">ENDGAME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Climb</th>
                    <td>{{ form.climb(class="inp select") }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Endgame Section -->
        <table class="tbl">
            <thead>
                <tr>
                    <th style="font-size: 20px;" class="a color-fade" colspan="2">ERRORS</th>
                </tr>
            </thead>
            <tbody>
                <tr id="fumbleTr">
                    <th>PHumbles</th>
                    <td>
                        <div class="addsubInput">
                            <button type="button" class="subtractButton">-</button>
                            {{ form.droppedPieces(class="inp") }}
                            <button type="button" class="addButton">+</button>
                        </div>
                    </td>
                </tr>
                <tr id="foulTr">
                    <th>PHouls</th>
                    <td>
                        <div class="addsubInput">
                            <button type="button" class="subtractButton">-</button>
                            {{ form.fouls(class="inp") }}
                            <button type="button" class="addButton">+</button>
                        </div>
                    </td>
                </tr>
                <tr id="brokenTr">
                    <th>PHailure</th>
                    <td>{{ form.failure(class="inp check") }}</td>
                </tr>
            </tbody>
        </table>
    </div> 

</div>

<div class="comments">
    <h2>Comments</h2>
    {{ form.info(class="info") }}
    <div id="infoTooltip" style="display: none;">
        Take notes on anything that can't be recorded in the form above.
        <ul>
            <li>— How effective was their defense?</li>
            <li>— What kind of fouls did they commit?</li>
            <li>— How did the robot break? Did it revive?</li>
            <li>— How skilled is their driver?</li>
            <li>— Any other interesting notes?</li>
        </ul>
    </div>
</div>



{% endblock %}
