{% extends "scout.html" %} 

{% block form %}

<!-- These are the two items that the super scout will control, but the user can type it in if it fails -->
 <div class="dropDown">
    <label>
        <bold>MATCH NUMBER: </bold>
    </label>
    {{ form.matchNum(class_="inp") }}
</div>

<div class="dropDown">
    <label>
        <bold>YOU ARE WATCHING: </bold>
    </label>
    {{ form.teamNum(class_="inp") }}
</div>


<button type="button" class="subtractButton">-</button>
{{ form.discsScored(class_="inp") }}
<button type="button" class="addButton">+</button>

<br>

<button type="button" class="subtractButton">-</button>
{{ form.discsMissed(class_="inp") }}
<button type="button" class="addButton">+</button>

<br><br>

{{ form.climb }}

<br><br>

{{ form.info(class_="info") }}


{% endblock %} 
