<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1" />
        <!--<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css"> -->

        <!-- Load jQuery and socketIO, then any custom libraries -->
        <script src="static/jquery.min.js"></script>
        <script src="static/socketio.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <button id="home_button" class="color-fade" onclick="window.location.href='home.html'"></button>
        {% block body %}{% endblock %}
    </body>
</html>
