<!DOCTYPE html>
<html>
<head>
    <title>🕵️ Pit Scout 🕵️</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="static/style2.css">
</head>

<body>
    <div class="topnav">
        <a href="home.html"><img width="100px" height="auto" src="static/lasa_robotics_logo.png"></a>
        <ul>
            <li><a style="font-family: 'Space Grotesk' " href="home.html">HOME</a></li>
            <li><a style="font-family: 'Space Grotesk' " href="scout.html">SCOUTING</a></li>
            <li><a style = "font-family: 'Space Grotest' "href = "superScout.html">SUPERSCOUT</a></li>
            <li><a style = "font-family: 'Space Grotest'" class="active" href="pitScout.html">PITSCOUT</a></li>
            <li style="float:right"><a style="font-family: 'Space Grotesk' ">Developed by Soumik Chemudupati and Gabe Tao</a></li>
        </ul>
    </div>
    <p>Submitted! Thanks for pit scouting!</p>
    <p><a href="pitScout.html">Scout another robot</a></p>
</body>
</html>
<!-- <div class="footer">
    <p><b>Courtesy of LASA Robotics, Software Developed by Soumik Chemudupati & Gabe Tao</b></p>
</div> -->

