{% extends "base.html" %}

{% block title %}Scouter{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">

<link rel="stylesheet" href="static/style2.css">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-9">
        <form action="/pitScoutSubmit.html" method="POST">
            <!-- need to add a onsubmit = to the form action statement above -->
            <div id="teamSelect">
                <p>Enter the team number</p><br>
            </div>
            <div id="teamSelect">
                <input type="text" id="tname" name="tname">
            </div>
            <table class="tbl">
                <thead>
                    <tr>
                        <th style="font-size: 20px;" class="a">
                            <center>CAPTURE AN IMAGE</center>
                        </th>
                    </tr>
                    <tr>
                        <th style="font-size: 25px;">
                            <center>
                                <img id="blah" alt="Robot image (attach file below for image preview)" width="400"
                                    height="300" />
                            </center>
                        </th>
                    </tr>
                    <tr>
                        <th style="font-size: 25px;">
                            <center>
                                <input type="file"
                                    onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                            </center>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="str">
                <p>INTAKE TYPE</p>
            </div>
            <div class="quest">
                <div class="inner">
                    <textarea name = 'intake' id = 'intake' class="info"></textarea>
                </div>
            </div>

            <div class="str">
                <p>DRIVE TRAIN</p>
            </div>
            <div class="quest">
                <div class="inner2">
                    <!--Rachit, Soumik, Yang-Fan, and Gabe are awesome :) -->
                    <textarea name = 'drivetrain' id = 'drivetrain' nameclass="info"></textarea>
                </div>
            </div>

            <div class="str">
                <p>AUTO CAPABILITIES</p>
            </div>
            <div class="quest">
                <div class="inner2">
                    <textarea name = 'autocap' id = "autocap" class="info"></textarea>
                </div>
            </div>

            <div class="str">
                <p>ADDITONAL INFORMATION</p>
            </div>
            <div class="quest">
                <div class="inner2">
                    <textarea name = "addinfo" id = "addinfo" class="info"></textarea>
                </div>
            </div>
            <div style="padding-bottom: 10px;" class="but">
                <button type="submit" class="button">SUBMIT</button>
            </div>
            <!-- <button stype="submit"> -->

        </form>
    </div>
    <div class="col-sm-3">

        <h4>{% if remaining == 0 %}All done! 🎉{% else %}Teams{% endif %} - <b>{{remaining}}</b> left</h4>
        <ul>
        {% for team in robots %}
            <li>
                {% if team.scouted == "1" %}
                ✅<s>
                {% else %}
                ❌ 
                {% endif %}
                <b>{{team.teamNum}}</b> ({{team.teamName}})

                {% if team.scouted == "1" %}</s>{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}