{% extends "base.html" %}
{% block title %}🔎 Scouter 🔎{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/style2.css">
{% endblock %}


{% block body %}

<div id="teamSelect2">

    <p>Select your assigned team:</p>

    <button class="teamSelect" id="red1">Red 1</button>
    <button class="teamSelect" id="red2">Red 2</button>
    <button class="teamSelect" id="red3">Red 3</button>
    <button class="teamSelect" id="blue1">Blue 1</button>
    <button class="teamSelect" id="blue2">Blue 2</button>
    <button class="teamSelect" id="blue3">Blue 3</button>
    <button class="teamSelect" id="deselect">Deselect</button>

    <p id="waiting">You're scouting: <b><span></span></b></p>

</div>



<form id="scoutForm" action="/scoutSubmit.html" method="POST" onsubmit="return download_csv_file(event)">


    {% block form %}
    {% endblock %}

    <div style="padding-bottom: 10px;" class="but">
        <button type="submit" class="button">SUBMIT</button>
    </div>

</form>


<script src="static/script.js"></script>
<script src="static/scout.js"></script>
{% endblock %}

