<!DOCTYPE html>
<html>
<head>
    <title>🔎 Scouter 🔎</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="static/style2.css">
    <script src="static/jquery.min.js"></script>
    <script src="static/socketio.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a href="home.html"><img width="100px" height="auto" src="static/lasa_robotics_logo.png"></a>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a class="active" href="scout.html">SCOUTING</a></li>
            <li><a href = "superScout.html">SUPERSCOUT</a></li>
            <li><a href="pitScout.html">PITSCOUT</a></li>
            <li style="float:right"><a>Developed by Soumik Chemudupati and Gabe Tao</a></li>
        </ul>
    </div>
    <p>Submitted! Thanks for scouting!</p>
    <p><a href="scout.html"cc>Scout another match</a></p>

    <script>

    </script>
</body>
</html>
<!-- <div class="footer">
    <p><b>Courtesy of LASA Robotics, Software Developed by Soumik Chemudupati</b></p>
</div> -->

