{% extends "base.html" %}

{% block title %}🔎 Scouter 🔎{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/style2.css">
{% endblock %}

{% block body %}

<div id="submitBlock">
    <p>Submitted! Thanks for scouting!</p>
    <!--<p><a id="scoutAnotherMatch" href="scout.html">Scout another match</a></p>-->
    <img src="static/pineapple{{ range(1,6) | random }}.gif"/>
    <p style="font-size: 20px;">Here's a pineapple. Waiting for mega scout...</p>
    <a href="scout.html" style="font-size: 15px;">Override</a>
    

</div>

<script>
    var socket = io();
    socket.on('matchReset', function() {
        // Navigate to scout.html
        window.location.href = '/scout.html';
    });
</script>

{% endblock %}