{% extends "base.html" %}
{% block title %}🕵️ Super Scout 🕵️{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/style2.css">
<script defer href="/static/scout.js"></script>
{% endblock %}

{% block body %}
<div class="topnav mb-3 color-fade">
    <center>
        <h1>
            🕵️ SUPER SCOUT 🕵️
        </h1>
    </center>
</div>


<h1> <center>NO SUPER SCOUTING FOR REBUILT (2026 FRC SEASON). Thanks!</center></h1>

<script src="static/script.js"></script>
<script src="static/superScout.js"></script>
{% endblock %}